body{
    text-align: center;
}

.btn{
    height: 100px;
    width: 100px;;
    border-radius: 20%;
    border:5px solid black;
    margin:1rem;
}

.btn-container{
   display: flex;
   justify-content: center;
}

.red{
    background-color:#d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    
    background-color:  #63aac0;
}

.purple{
    
    background-color: #8d9ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color:maroon;
}