*{
  font-family: "Libertinus Mono", monospace;
  /* font-weight: 400;
  font-style: normal; */
}

.main{
    background-color:  white;
    height: 100vh;
    width: 100%;
}
.nav{
    height: 110px;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-1 img{
    height: 40px;
    width:auto;
    margin-right: 10px;  
     cursor: pointer;
}
.nav-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-1 ul li{
   margin-right: 30px; 
   font-size: 19px;
   font-weight: 100px;
   text-transform: uppercase;
   cursor: pointer;
}
 .nav-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.nav-2 i{
    /* margin: 10px; */
    padding-right: 50px;
    font-weight: 500px;
    font-size: 25px;
    cursor: pointer;
}
.nav-2 i:hover{
    color:red;
}
.content{
    height: calc(100%-110px) ;
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color:black;
    margin-bottom: 10px;
}
.content-left h1{
    font-size: 55px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 25px;
}
.content-left p{
    font-size: 20px;
    color: black;
    width: 80%;
    margin-bottom: 30px;
}
.btn{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    border-top-left-radius: 0;
}
.content-right{
    height: 100%;
    width: 60%;
    padding :110px  100px ;


}
.product{
    height: 370px;
    width:250px;
    background-color:#1011;
    position: relative;
    box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3) ;

}
.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 75px;

}
.product h4{
      font-size:10px;
      text-transform: capitalize;
      position: absolute;
      bottom: 21%;
      font-size: 20px;
      margin-left: 10px;
}
.category{
    position:absolute;
    font-weight: 500;
    bottom: 17%;
      margin-left: 10px;
}
.color{
   position: absolute;
   bottom: 10%;
   font-weight: 500;
     margin-left: 10px;
}
.price{
   position: absolute;
   bottom: 1%;
   font-weight: 500;
     margin-left: 10px;
}