@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;  /*width और height केवल content area पर apply होती है। */
    scroll-behavior: smooth;
    font-family:'Be Vietnam Pro',sans-serif;
}

:root{
    --bgOrange:#e84949;
}
#wrappet{
    height: 100hv;   /*पूरे viewport की height (100%) */
    overflow-y:auto;    /* vertical scroll when needed */
    overflow-x: hidden;   /* horizontal overflow not visible */
}
.container{
    width: 1000px;
    margin: 0 auto;
    height: 512px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;

    margin-top: 1rem;
}
.logo{
    width: 60px;
    height: 50px;
}
.logo-container{
    display: flex;
    justify-content: baseline;  /*same line */
    align-items: center;
    /* margin-left: 6rem; */
}
.logo-text{
    margin-left: -0.7rem;
    font-size: 28px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem ;

}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
     
}
.nav-items div:hover{
    font-weight: bold ;
    transition:0.8s;
}
.nav-items div a{
    text-decoration: none;
    color: black;
}

#hero-section{
    /* height: 420px; */
    /* margin-top: 10px; */
    position:relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    gap:5rem;
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}

 .faded-text{
    position: absolute;
    user-select: none;  
    font-size:4rem;  /*7rem*/
    color:rgb(231,231,231);

    /* bottom: -31.4%; */
    bottom: 6.9%;
    /* left:-0%; */
    font-weight: bold;
    transition: all 3s;
    /* height: 210px; */
     
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: auto;
    /* height: 10px; */
    
}

.hero-section-heading{
    font-size: 35px;
    color:#343d68;
    font-weight:500;

}
/* I am animation */
.role{
    color: blue;
    font-weight:800;
}
.hero-section-sub-heading{
    font-size:45px;
    line-height:45px;
}
.hero-section-description{
    margin-top:1rem;
    width:70%;
    font-weight:500;
}

/* button setting */
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding:0.8rem 2.3rem;
    box-shadow:5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor:pointer;
    transition:all 0.5s;
    font-weight: 500;
    border:solid 3px transparent;
    position:relative;
    z-index:1;


}
.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before{
    transform:scaleX(1);
}
.btn-pink:hover{
    border: solid 3px var(--bgOrange);
    color:black;
}

/* Right section */
.hero-section-right{
    position:relative; 
    
}
.absolute{
    position: absolute;
}

.user-image{
   padding: 2.5rem;
   filter: grayscale(1);  /*black & white (grayscale) banane ke liye hota hai.*/
   transition:all 1s;
   animation: scaleImage 5s linear infinite; /*Animation ki speed har waqt same rahegi.*/

}
  
.user-image img{
    z-index: -10;
}

@keyframes scaleImage{

    0%{
        filter: grayscale(1);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);
    }

}
.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    color: #e84949;
    animation:dotsanimation 5s   infinite ;
}
@keyframes dotsanimation {
    
    0%{
       transform:translateY(0px) ;
    }
    50%{
        transform:translateY(-15px) ;
    }
    100%{
        transform:translateY(0px) ;
    }
}
.icon-cude{
    z-index:9;
    top:-0.8rem;
    right: 1rem;
    animation:cubeanimation 5s infinite;
}
@keyframes  cubeanimation{
    
    0%{
       transform:rotateZ(0deg) translateY(0px) ;
    }
    50%{
        transform:rotateZ(180deg) translateY(-12px)  ;
    }
    100%{
        transform:rotateZ(360deg) translateY(0px) ;
    }
}
.icon-circle{
    z-index: 9;
    bottom: 0;
    left: 0;
    animation:circleanimation 6s linear infinite;
}
@keyframes circleanimation{
    0%{
        left:0;
        bottom: 0;
    }
    50%{
       left:5%;
        bottom: 10%;
    }
    100%{
        left:0;
        bottom:0;
    }
}
.icon-zigzag{
    z-index: 9;
    top: 1.5rem;
    left: -0.3em; /*1em => 20px hota hai*/
    animation:zigzaganimation 5s linear infinite;
}
@keyframes zigzaganimation{
    0%{
        left:0;
        bottom: 0;
    }
    50%{
       left:5%;
        bottom:2%;
    }
    100%{
        left:0;
        bottom:0;
    }
}
.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left:50%;
    animation:plusanimation 5s  ease-in infinite;
}
@keyframes plusanimation{
    50%{
       top:3%;
       left:48%;
    }
}   

/* Project section */
.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}
.heading-page{
    color: var(--bgOrange);
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}
.poject-container{
    width: 1000px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap:120px;
}
.project-card{
    width: 90%;
    height: 450px;
    background-image: url(pro_Img/1.car.png);
    background-size: cover;
    /* background-repeat:no-repeat ; */
    position: relative;
    box-shadow:0px 0px 40px #1f1f1f;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    /* transform: scaleX(1); */

}
.project-card::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
   transform: scaleX(0);
   transform-origin:left;
   transition: all 0.4s;
   z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position:absolute;
    font-size: 100px;
    font-weight: 600;
    color:white;
    z-index: 10;
    /* display: none; */
    opacity: 0;

}
.project-card:hover .project-number{
    /* display: block; */
    opacity: 1;
}
.project-number-left{
    right: -13px;
    top: -20px;
}
.project-number-right{
    left: -6px;
    top: -22px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
    /* width: 460px;
    height: 350px; */
}
.project-content-right{
    left:10%;
}
.project-content-left{
    right:10%;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(pro_Img/1.car.png);
}
#project2{
    margin-left: 120px;
    background-image: url(pro_Img/2.music.png);
}
#project3{
    background-image: url(pro_Img/3.home.png);
}
#project4{
    margin-left: 120px;
    background-image: url(pro_Img/4.erealstate.png);
}

/* .skills-container */
.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    /* margin: 10rem auto; */
    gap: 30px;
}
/* .skill-container-left{
    width: 50%;
    display: flex;
    flex-direction:column;
} */
/* .skill-container-right{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
} */
.skill-fade-text{
    position: absolute;
    font-size: 7em;  /* 12 */
    font-weight: bold;
    color: rgb(231, 231,231);
    bottom: -5.5%;
    /* bottom: 0; */
    right: -10%;
    user-select: none;
}
.caps{
    font-size: 500;
    color: #0000ff;
}
.skill-heading{
    font-weight: bold;
}
.subHeading{
    color:#145da0;
}

/* contactus part */
.contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
     
    

}
.contactus-heading{
    font-size: 2.5em;
    color: var(--bgOrange);
    padding-top:rem;
}
.contactus-sub-heading{
    font-size: 1.5rem;
    color: #343d68aa;
    text-transform: capitalize; /* First world capiter ho jata hai*/
}
.contactus-form-container{
    /* margin-top:2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 2rem 5rem;
}
.formfeild-container{
    width: 100%;
     
}
.formfield{
    width: 100%;
    height: 28px;
    
    /* gap: 40px; */
    padding: 0 2rem;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #1f1f1f;
    font-weight: 300px;
    border: none;
    /* margin-bottom: 10px; */
    margin-top: 10px;
  
    
    
}
.formfield-textarea{
    height: auto;
    /* padding-top: 1rem; */
}
#submit-btn{
    border: none;
    font-size: 1rem;
    margin-top: 1rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}

/* Footer */
#footer{
    width: 100%;
    height: 120px;
}
footer{
    background-color: #343d68;
    position: relative;
    margin-top: -1px;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-around;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom:0;
    color:#535c87;
    user-select: none;
    font-size: 4em;
}
.link-wrapper{
    display: flex;
    margin-top: 1.5rem;
    
    gap: 1rem;
}
.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}
.link-wrapper div a:hover{
    color: var(--bgOrange);
    /* cursor: pointer; */
}
.icon-wrapper {
    display: flex;
    margin-top: 1.5rem;
    /* margin: 1.5rem 0 0 5rem; */
    color: white;
    gap: 1rem;
}